<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()" v-if="toggleOpen">Open Form</button>
      <button onclick="vm.resetForm()" v-if="toggleReset">Reset</button>
      <h1>{{ 'Nilai a : ' + result }}</h1>
      <h1>{{ 'Nilai Rata-rata : ' + avg }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          a: 0,
          avg: 0,
          result: 0,
          // show dan hide btn
          toggleOpen: true,
          toggleReset: false,
        },
        methods: {
          openForm: function () {
            let i = 0;
            for (i; this.result < 10; i++) {
              this.a = prompt('Masukkan Nilai a');
              // parse string to int
              let parseData = parseInt(this.a);

              this.result = this.result + parseData;
              console.log('this.result >> ' + this.result);
            }

            this.avg = this.result / i;

            // testing reset if i > 0
            console.log('i >> ' + i);
            if (i > 0) {
              (this.toggleOpen = false), (this.toggleReset = true);
            }
          },
          // tambahan reset
          resetForm: function () {
            (this.a = 0),
              (this.avg = 0),
              (this.result = 0),
              (this.toggleOpen = true),
              (this.toggleReset = false);
          },
        },
      });
    </script>
  </body>
</html>
