body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #7DEDFF;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container{
    max-width: 300px;
    margin: 50px auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    justify-items: center;
  }
  
  .name {
    text-align: center;
  }

  .header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #7C83FD;
    text-align: center;
    color: white;
  }
  
  .footer {
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
    line-height: 50px;
    background-color: #7C83FD;
    text-align: center;
    color: white;
  }
  
  .info {
    text-align: center;
    margin: 0px 5px;
    padding-bottom: 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
  }

  .information {
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    justify-items: center;
  }

  .bio {
    text-align: justify;
    padding: 5px 20px;
  }