<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD AXIOS</title>

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="container">
              <div class="card">
                <div class="card-header">
                  <h2>{{ titleName }} Member</h2>
                </div>
                <div class="card-body">
                  <form @submit.prevent="submitForm()">
                    <span v-if="errors.length">
                      <b>Error</b>
                      <ul>
                        <li v-for="error in errors">{{ error }}</li>
                      </ul>
                    </span>

                    <div class="form-group">
                      <label for="name">Nama Lengkap :</label>
                      <input
                        type="text"
                        class="form-control"
                        :disabled="btnStatus== 'upload'"
                        name="name"
                        ref="name"
                        v-model="name"
                      />
                    </div>

                    <div class="form-group">
                      <label for="address">Alamat :</label>
                      <textarea
                        class="form-control"
                        name="address"
                        :disabled="btnStatus== 'upload'"
                        ref="address"
                        v-model="address"
                        style="resize: none"
                      ></textarea>
                    </div>

                    <div class="form-group">
                      <label for="no_hp">Nomor HP :</label>
                      <input
                        type="text"
                        class="form-control"
                        name="no_hp"
                        :disabled="btnStatus== 'upload'"
                        ref="no_hp"
                        v-model="no_hp"
                      />
                    </div>
                    <div v-if="btnStatus == 'submit'">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                    <div v-else-if="btnStatus == 'update'">
                      <button
                        type="button"
                        class="btn btn-warning"
                        @click="updateMember(idMember)"
                      >
                        Update
                      </button>
                      <button
                        type="button"
                        class="btn btn-secondary"
                        @click="clearForm"
                      >
                        Cancel
                      </button>
                    </div>
                    <div v-else-if="btnStatus == 'upload'">
                      <div class="form-group">
                        <label for="no_hp">Photo :</label>
                        <div class="custom-file">
                          <input
                            type="file"
                            class="custom-file-input"
                            name="photo"
                            ref="photo"
                            accept="image/*"
                            @change="getPhoto($event)"
                          />
                          <label
                            class="custom-file-label"
                            for="customFile"
                            value="Choose file"
                            >{{ this.photo.name }}</label
                          >
                        </div>
                      </div>

                      <button
                        type="button"
                        class="btn btn-primary"
                        @click="submitPhoto(idMember)"
                      >
                        Upload
                      </button>

                      <button
                        type="button"
                        class="btn btn-secondary"
                        @click="clearForm"
                      >
                        Cancel
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="container">
              <div class="card">
                <div class="card-header">
                  <h2>Members</h2>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="member of members">
                        <td>
                          <img
                            width="100"
                            height="100"
                            :src="member.photo_profile ? photoDomain +  member.photo_profile  : 'https://dummyimage.com/100'"
                            alt=""
                          />
                        </td>
                        <td>{{member.name}}</td>
                        <td>{{member.address}}</td>
                        <td>{{member.no_hp}}</td>
                        <td>
                          <button
                            class="btn btn-info"
                            @click="editMember(member)"
                          >
                            Edit
                          </button>
                          <button
                            class="btn btn-danger"
                            @click="deleteMember(member.id)"
                          >
                            Hapus
                          </button>
                          <button
                            class="btn btn-secondary"
                            @click="uploadPhoto(member)"
                          >
                            Upload
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          title: '',
          idMember: null,
          name: '',
          address: '',
          no_hp: '',
          photo: [],
          members: [],
          errors: [],
          photoDomain: 'http://demo-api-vue.sanbercloud.com',
          btnStatus: 'submit',
        },
        computed: {
          titleName: function () {
            if (this.btnStatus == 'update') {
              return 'Update';
            } else if (this.btnStatus == 'upload') {
              return 'Upload Photo';
            } else {
              return 'Registration';
            }
          },
        },
        methods: {
          validationForm: function () {
            this.errors = [];
            console.log('validation');
            if (this.name.length > 15) {
              this.errors.push('Nama tidak boleh lebih dari 15 karakter.');
              this.$refs.name.focus();
            }

            if (this.address.length > 20) {
              this.errors.push('Alamat tidak boleh lebih dari 20 karakter.');
              this.$refs.address.focus();
            }
            if (this.no_hp.length < 10) {
              this.errors.push('Nomor HP tidak boleh Kurang dari 10 karakter.');
              this.$refs.no_hp.focus();
            }
          },

          clearForm: function () {
            this.name = '';
            this.address = '';
            this.no_hp = '';
            (this.photo = []), (this.btnStatus = 'submit');
          },

          submitForm: function () {
            this.validationForm();

            if (this.errors.length == 0) {
              let data = {
                name: this.name,
                address: this.address,
                no_hp: this.no_hp,
              };

              const config = {
                method: 'post',
                url: 'http://demo-api-vue.sanbercloud.com/api/member',
                data: data,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
              alert('Terima kasih anda telah mengisi data dengan benar.');
            }
          },

          getMembers: function () {
            const config = {
              method: 'get',
              url: 'http://demo-api-vue.sanbercloud.com/api/member',
            };

            axios(config)
              .then((response) => {
                this.members = response.data.members;
                console.log(response.data.members);
              })
              .catch((error) => {
                console.log(error);
              });
          },

          editMember: function (member) {
            this.btnStatus = 'update';
            this.titleName;

            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;

            this.idMember = member.id;
          },

          updateMember: function (idMember) {
            this.validationForm();

            if (this.errors.length == 0) {
              let data = {
                name: this.name,
                address: this.address,
                no_hp: this.no_hp,
              };

              const config = {
                method: 'put',
                url: `http://demo-api-vue.sanbercloud.com/api/member/${idMember}`,
                data: data,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
              alert('Terima kasih anda telah mengisi data dengan benar.');
            }
          },

          uploadPhoto: function (member) {
            const config = {
              method: 'get',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${member.id}`,
            };

            axios(config)
              .then((response) => {
                this.btnStatus = 'upload';
                this.titleName;

                this.idMember = response.data.member.id;
                this.name = response.data.member.name;
                this.address = response.data.member.address;
                this.no_hp = response.data.member.no_hp;
              })
              .catch((error) => {
                console.log(error);
              });
          },

          getPhoto: function (event) {
            this.photo = event.target.files[0];
          },

          submitPhoto: function (idMember) {
            let formData = new FormData();
            formData.append('photo_profile', this.photo);

            const config = {
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${idMember}/upload-photo-profile`,
              data: formData,
            };

            axios(config)
              .then((response) => {
                this.clearForm();
                this.getMembers();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },

          deleteMember: function (id) {
            if (confirm('Anda yakin hapus member?')) {
              const config = {
                method: 'delete',
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              };

              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
        },

        created() {
          this.getMembers();
        },
      });
    </script>
  </body>
</html>
