<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form action="#" method="post">
        <input type="text" v-model="name" name="name" ref="name" />
        <input
          type="submit"
          value="add"
          v-if="statusAdd"
          @click.prevent="doAdd"
        />
        <input
          type="submit"
          value="update"
          v-if="statusEdit"
          @click.prevent="setEdit(name, oldName)"
        />
      </form>
      <ul v-for="user in users">
        <li>
          {{ user.name }}
          <input
            type="submit"
            value="edit"
            @click.prevent="doEdit(user.name)"
          />
          ||
          <input
            type="submit"
            value="delete"
            @click.prevent="doDelete(user.name)"
          />
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          name: '',
          oldName: '',
          statusAdd: true,
          statusEdit: false,
          users: [
            { name: 'Muhammad Iqbal' },
            { name: 'Garin Yudha' },
            { name: 'Yukinoshita' },
            { name: 'Monkey D. Luffy' },
          ],
        },
        computed: {},
        methods: {
          doAdd: function (name) {
            // console.log(this.name);
            // console.log(this.users);
            if (this.name.length > 0) {
              this.users.push({ name: this.name });
              this.name = '';
            } else {
              this.$refs.name.focus();
              return alert('Harap Isi Nama');
            }
          },

          doEdit: function (name) {
            (this.statusAdd = false), (this.statusEdit = true);
            this.name = name;
            this.oldName = name;
          },

          setEdit: function (name, oldName) {
            // console.log('setEdit >>> ' + name);
            // console.log('setEdit old>>> ' + oldName);
            var index = this.users
              .map(function (user) {
                return user.name;
              })
              .indexOf(this.oldName);
            // console.log(index);
            if (index > -1) {
              this.users.splice(index, 1, { name: this.name });
            }

            (this.statusAdd = true), (this.statusEdit = false);
            this.name = '';
            this.oldName = '';
          },

          doDelete: function (name) {
            if (confirm('Anda Yakin?')) {
              //   console.log('doDelete >>> ' + name);
              var index = this.users
                .map(function (user) {
                  return user.name;
                })
                .indexOf(name);

              //   console.log('delete >>' + index);
              if (index > -1) {
                this.users.splice(index, 1);
              }
            }
          },
        },
      });
    </script>
  </body>
</html>
