<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form action="#" method="post">
        <input type="text" v-model="form.name" name="name" ref="name" />
        <button @click.prevent="add" v-show="!updateSubmit">Add</button>
        <button @click.prevent="update" v-show="updateSubmit">Update</button>
      </form>
      <ul v-for="(user, index) in users">
        <li>
          <span>{{ user.name }}</span>
          <button @click="edit(user, index)">Edit</button> ||
          <button @click="del(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          users: [
            { name: 'Muhammad Iqbal' },
            { name: 'Garin Yudha' },
            { name: 'Yukinoshita' },
            { name: 'Monkey D. Luffy' },
          ],
          updateSubmit: false,
          form: {
            name: '',
          },
          selectedUserId: null,
        },
        methods: {
          add() {
            this.users.push(this.form);
            this.form = {};
          },
          edit(user, index) {
            this.selectedUserId = index;
            this.updateSubmit = true;
            this.form.name = user.name;
          },
          update() {
            this.users[this.selectedUserId].name = this.form.name;
            this.form = {};
            this.updateSubmit = false;
            this.selectedUserId = null;
          },
          del(index) {
            let num = index;

            var confirm = alert('Anda Yakin?');

            // masih bug error
            if (confirm) {
              this.users.splice(index, 1);
            }
          },
        },
      });
    </script>
  </body>
</html>
