<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div>
          <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container">
              <a class="navbar-brand" href="#">Book Store</a>

              <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <router-link class="nav-link" to="/">Home</router-link>
                  </li>
                  <li class="nav-item">
                    <router-link class="nav-link" to="/about"
                      >About</router-link
                    >
                  </li>
                  <li class="nav-item">
                    <router-link class="nav-link" to="/categories"
                      >Categories</router-link
                    >
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                    v-if="!loginStatus"
                    @click.prevent="login()"
                  >
                    Login
                  </button>
                  <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                    v-if="loginStatus"
                    @click.prevent="login()"
                  >
                    Logout
                  </button>
                </form>
              </div>
            </div>
          </nav>
        </div>
        <div>
          <router-view></router-view>
        </div>
        <!-- Untuk Menampilkan component secara dinamis , sesuai dengan route yang diakses -->
      </div>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="module">
      import { CategoriesComponent } from './Component/CategoriesComponent.js';
      import { CategoryComponent } from './Component/CategoryComponent.js';
      import { BooksComponent } from './Component/BooksComponent.js';
      import { BooksDetailsComponent } from './Component/BookDetailsComponent.js';
      import { AboutComponent } from './Component/AboutComponent.js';

      const routes = [
        { path: '/', component: BooksComponent, alias: '/home' },
        { path: '/about', component: AboutComponent },
        {
          path: '/categories',
          component: CategoriesComponent,
          meta: { login: false, name: 'admin' },
        },
        { path: '/category/:id', component: CategoryComponent },
        { path: '/books/:id/detail', component: BooksDetailsComponent },
        {
          path: '/buy/:id',
          component: BooksDetailsComponent,
          meta: { login: true },
        },
        { path: '*', redirect: '/' },
      ];

      const router = new VueRouter({
        routes,
      });

      router.beforeEach((to, from, next) => {
        console.log(to);
        if (to.matched.some((record) => record.meta.login)) {
          alert('Harap Login terlebih dahulu');
          next({ path: '/' });
        } else if (to.path == '/categories' && name != 'admin') {
          alert('Anda tidak punya akses');
          next(false);
        } else {
          next();
        }
      });

      var vm = new Vue({
        el: '#app',
        router,
      });
    </script>
  </body>
</html>
